canvas,div.overlay {
    height: 100%;
    top: 0;
    left: 0
}

body,h1,html {
    margin: 0;
    padding: 0
}

canvas,div.overlay,footer {
    position: absolute;
    width: 100%
}

footer,p {
    display: block;
    letter-spacing: 1px
}

footer,main {
    text-align: center
}

a,body {
    color: #acb8b4
}

body,html {
    height: 100%
}
@import url('style.css');
body {
    background: url("/image/background.jpeg") center center #101312;
    background-size: cover;
    font-family: 'Darker Grotesque',sans-serif
}

body.support--webp {
    background: url("/personal-website/image/background.jpeg") center center #101312;
    background-size: cover
}

div.overlay {
    background: url("/personal-website/image/overlay.png") center center;
    background-size: cover
}

h1 span,main {
    position: relative
}

body.support--webp div.overlay {
    background: url("/personal-website/image/overlay.png") center center;
    background-size: cover
}

main {
    max-width: 800px;
    top: 50%;
    margin: 0 auto;
    -webkit-transform: translate(0,-70%);
    -ms-transform: translate(0,-70%);
    transform: translate(0,-70%)
}

h1 {
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 6rem;
    letter-spacing: 25px
}

footer,h1 span {
    font-weight: 300
}

h1 span {
    top: 38px;
    font-size: 9.4rem;
    line-height: 4rem
}

p {
    width: 70%;
    margin: 35px auto;
    font-size: 1.2rem;
    line-height: 1.5rem
}

footer {
    bottom: 15px;
    font-size: 1rem
}

a {
    text-decoration: none;
    -webkit-transition: color .25s ease;
    -o-transition: color .25s ease;
    transition: color .25s ease
}

a:hover {
    color: #e3e7e6
}

@media screen and (max-width: 800px) {
    h1 {
        font-size:3rem;
        line-height: 4rem;
        letter-spacing: 15px
    }

    h1 span {
        top: 25px;
        font-size: 6rem;
        line-height: 2rem
    }

    p {
        width: 60%;
        margin: 25px auto;
        font-size: 1rem;
        line-height: 1.4rem;
        letter-spacing: 1px
    }

    footer {
        font-size: .9rem
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size:2rem;
        line-height: 3rem;
        letter-spacing: 10px
    }

    h1 span {
        top: 16px;
        font-size: 3.8rem;
        line-height: 1.5rem
    }

    p {
        width: 80%;
        margin: 25px auto;
        font-size: 1rem;
        line-height: 1.4rem;
        letter-spacing: 1px
    }

    footer {
        font-size: .9rem
    }
}

.ref-links {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: -1
}
body
{
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  /* make it look decent enough */
 /* background: #232323; */
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
    margin-top: 20px;
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
