style{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #eee;
}
body::-webkit-scrollbar 
{
    width: 0.2em;
    background-color: #F5F5F5;
  }
   
  body::-webkit-scrollbar-thumb 
  {
    background-color: #000000;
  }
   
  body::-webkit-scrollbar-track
   {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  

canvas {
    display: block;
    vertical-align: bottom;
}
ul{
  display: flex;
  flex-wrap: nowrap;
  float: right;
  top: 10%;
  list-style-type: none;
  padding: 0;
  margin: 0 5 0 5;
  opacity: 0.5;
}
li{
  margin: 0 5px;
}
a{
  text-decoration: none;
  color: rgb(255, 255, 255);

}
#particles-js
{
    width: 100%;
    height: 100vh;
   /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg);*/
    background-color: black;
}

h1{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    display:block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

/*#baggage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
  @import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #da691d;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
  .container p {
    font-size: 16px;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}
#close {
  position: absolute;
  top: 20px;
  right:0;
  width: 50px;
  height: 50px;
  opacity: .30;
}


.box {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 100%; 
  height: 100%;
	fill: rgb(255, 255, 255);
	stroke-width: 6;
	stroke-linecap: round;
	stroke-linejoin: round;
  cursor: pointer;
}
#b1 { background: #000000; }
.icon { stroke: #ffffff; opacity: .50; }
#front{
  z-index: 1;
  position: relative;
}
li{
   display: none;
  }
}
